@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Step to make a page on ASP.Net Core Web APP MVC</h1>
<ol>
    <li>Add Controller</li>
    <li>Add Action Method to controller</li>
    <li>Add new folder in view with controller name</li>
    <li>Add empty razor page to the new folder, the name is conventionally index.cshtml</li>
    <li>Add CSharp plus HTML i.e Razor page material</li>
</ol>      
    